BUILD_CORES=6 # Amount of cores on build. Use `nproc --all` to see cores available.

# Core paths
AC_CODE_DIR="$HOME/azerothcore-wotlk" # Path to the AzerothCore source code
AC_INSTALL_PREFIX="$HOME/azerothcore-wotlk/env/dist"
AC_BUILD_DIR="$AC_CODE_DIR/build"
DATA_DIR=$HOME/azerothcore-wotlk/build/data # Path to the data directory, where the server data is stored

# Server paths
AUTH_PATH="$AC_BUILD_DIR/src/server/apps/authserver"
WORLD_PATH="$AC_BUILD_DIR/src/server/apps/worldserver"

# Session names
AUTH_SESSION="azeroth-auth"
WORLD_SESSION="azeroth-world"